<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <h1>Quora </h1>
    <%for(let post of posts){%>
     <div class="user"> <h3>@<%= post.username%></h3></div>
       <div class="post"> <h3> <%=post.content%> </h3></div>
       <a href="http://localhost:8080/posts/<%=post.id%>">see detail</a>
       <a href="http://localhost:8080/posts/<%=post.id%>/edit">edit</a><br>
      <form  method="post" action="/posts/<%=post.id%>?_method=DELETE">
         <button class="btn" >delete post</button>
      </form>


    <%}%>

    <br>
<br>
<a href="http://localhost:8080/posts/new">create new post</a>


    
    
</body>
</html>